# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers and IDE settings
*.gch
*.pch
*.sln
*.vcxproj
*.vcxproj.user
**/.cache
**/.vscode
**/.vs
**/__pycache__
**/obj
src/build
compile_commands.json
Makefile

# Backup files
*.bak

# Compiled development tools
src/devtools/shadercompiler
src/devtools/ecscompiler

# Project files and directories
/game/**/bin
/game/**/shaders
/game/licenses
/game/logs