#include "stdlib/defines.h"
#include "game/citadel/version.h"

1 VERSIONINFO
FILEVERSION     GAME_VERSION_MAJOR, GAME_VERSION_MINOR, GAME_VERSION_PATCH
PRODUCTVERSION  GAME_VERSION_MAJOR, GAME_VERSION_MINOR, GAME_VERSION_PATCH
FILEFLAGSMASK   0x3fL
#ifdef DEBUG
    FILEFLAGS   0x1L
#else
    FILEFLAGS   0x0L
#endif // DEBUG
FILEOS          0x40004L
FILETYPE        0x1L
FILESUBTYPE     0x0L
 
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName",        "Broken Singularity"
			VALUE "FileDescription", 	"Citadel"
			VALUE "FileVersion",        GAME_VERSION_STRING
            VALUE "InternalName",       "citadel"
            VALUE "LegalCopyright", 	"© 2020-2025 Broken Singularity"
            VALUE "OriginalFilename", 	"game.dll"
            VALUE "ProductName", 		"Citadel"
			VALUE "ProductVersion",     GAME_VERSION_STRING
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END